* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #161d2f;
  border-radius: 2px;
}

.app-name{
  color: white !important;
  text-decoration: none;
}
.app-name:hover {
  filter: invert(58%) sepia(14%) saturate(3166%) hue-rotate(215deg) brightness(91%) contrast(87%);
  transition: ease;
  transition-duration: 0.4;
}
